.user-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.user-search input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-search button {
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}